/* styles.css */

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Additional custom styles can go here */

*{
  margin:0;
  padding:0;
  box-sizing: border-box;

  font-family: 'Poppins', sans-serif !important;
}
html,
html,
body {
  height: 100%;
}

body {
  overflow-y: auto;
  overscroll-behavior: none;
  -webkit-overflow-scrolling: touch;
}

/* Mouse hide */
* {
  cursor: none !important;
}

/* =========================
   SINGLE TOUCH CIRCLE
   ========================= */
.touch-circle {
  width: 8px;
  height: 8px;
  background: #6b7280; /* soft grey */
  border-radius: 50%;
  position: fixed;
  pointer-events: none;
  z-index: 10000;
  transform: translate(-50%, -50%);
  transition: transform 0.12s ease-out;
}
